# Python/cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Logs
logs/
*.out
*.err
*.log

# Large/generated simulation files
MD_GB_sims/
ACE/runs2/
gb_data/
gb_data_test_denoised/
gb_data_original_train_denoised/

# Generated classifier outputs
gb_data_classifier_outputs/
*.joblib

# Generated OVITO files
gb_data_ovito_annotated/
gb_data_ovito_300K_fluctuation_sequence*/
gb_data_ovito_atom_change*/
gb_data_ovito_consecutive_change_sequence*/
gb_data_ovito_atom_likel_sequence*/

# Large generated data/results
*.extxyz
pace_row_output.txt
*.png
*.csv
